<!DOCTYPE html>
<html>
    <head>
        <title>OpenModuli - Self-hosted forms</title>
        <meta charset="UTF-8" />
        <meta name="viweport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>

    <body>
        <main class="container">
            <header>
                <h1>OpenModuli</h1>
            </header>
            <a href="{{ url_for('login') }}">Accedi al Pannello di Controllo</a>
        </main>
    </body>
</html>