<!DOCTYPE html>
<html>
    <head>
        <title>Impostazioni - OpenModuli</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="{{ url_for('static', filename='admin.js') }}"></script>
    </head>
    <body>

        <dialog id="dialog-delete">
            <p>Sei sicuro di voler eliminare il modulo?</p>
            <strong id="dialog-filename"></strong>
            <div class="dialog-actions">
                <button id="dialog-confirm" class="btn_danger">Elimina</button>
                <button id="dialog-discard">Annulla</button>
            </div>
        </dialog>

        <dialog id="dialog-new-form">
            <span>Crea un nuovo modulo con nome:</span>
            <form action="/create_form" method="POST">
                <input type="text" id="name" name="name" placeholder="Nome modulo" required/>

            <div class="dialog-actions">
                <button type="submit" id="dialog-confirm" class="btn_success">Crea</button>
                <button id="dialog-discard">Annulla</button>
            </div>
            
        </dialog>

        <main class="container">
            <header>
                <h1>Impostazioni - OpenModuli</h1>
            </header>

            <div>
                <form>
                    <!--** Here goes the settings for defining path
                    - Form files are stored in a specific directory, and generated PDFs in another. 
                    Here the admin can set those paths. */ -->
                    <section title="Percorsi">
                        <span>Percorso dei moduli: </span><input type="text" name="forms_path"/><br/>
                        <span>Percorso dei PDF: </span><input type="text" name="pdf_path"/><br/>
                    </section>
                    <section title="Personalizzazione">
                        <span>Immagine di Sfondo: </span><input type="file" name="background_image"/><button>Ripristina</button><br/>
                    </section>
                    <button type="submit">Salva Cambiamenti</button>
                    <button type="reset">Ripristina</button>
                </form>
            </div>

            <div>
                <h2>Controlli del server</h2>
                <button onclick="onReloadConfigurationClicked()">Ricarica Configurazione</button>
                <button onclick="onRebootApplicationClicked()">Riavvia OpenModuli</button>
                <button onclick="onRebootServerClicked()">Riavvia Server</button>
                <button onclick="onShutdownServerClicked()">Spegni Server</button>
            </div>

            <!--** Here goes the footer with copyright information */ -->
            <footer style="margin-top: 40px; font-size: 0.9em; color: #555;">
                <p>OpenModuli - Open Source Self-hosted forms</p>
                <p>Creato da <a href="https://github.com/SamuGallo-06/" target="_blank">Samuele Gallicani</a>, © 2026 Samuele Gallicani</p>
            </footer>
        </main>
    </body>
</html>